div(id='container')
    style: include style.css
    div(id='title-block')
        img(id='logo' src='http://i.imgur.com/v9Lya6p.png')
        h1(id='name')
            span spotifier
            span(style='color: #1dab4f;') .io
    hr

    div(id='body')
    div(id='artist-body')
        each artist in artists
            a(id='link' href=artist.recent_release.url)
                div(id='artist')
                    div(id='pic-container')
                        if artist.recent_release.images && artist.recent_release.images[0]
                            img(id='pic' src=artist.recent_release.images[0].url)
                    div(id='details')
                        span(id='album-title') #{artist.recent_release.title}
                        br
                        span(id='artist-name') By #{artist.name}

br
br
div(id='social-links')
    a(id='github' href='https://github.com/ryanpage42') github
    span &nbsp;|&nbsp;
    a(id='unsubscr1ibe' href=url) unsubscribe